#listDiscovery {
    margin-top: 1px;
}

.itemDiscovery {
    padding-bottom: 4px;
}

#imageAvatar {
    background-color: white;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  background: linear-gradient(to right, #F28B50, #D93654);
  height: 30px;
  align-items: center;
}

.item-arvore {
  display: flex;
  align-items: end;
  flex-direction: row;
  width: 100%;

  .informacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .label {
      align-self: end;
    }

    .edit-delete {
      font-size: 25px;

      .edit {
        margin-right: 10px;
      }

      .delete {
        color: red
      }
    }
  }

  .icone{
    margin-right: 10px;
  }
}

.spinner-dicovery {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.carregando {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-backdrop {
  opacity: 0.9;
  background: var(--ion-color-primary);
}
