<ion-header>
  <ion-toolbar class="toolbar_modal">
    <ion-title id="titleDiscovery" class="title_modal" size="default">Suas Descobertas</ion-title>
    <ion-button color="danger" size="small" fill="clear" slot="end" (click)="closeModalDiscovery()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content id="contentDiscovery" fullscreen>
  <ion-list id="listDiscovery"> 
    <!-- lista do ngFor -->
    <ion-item class="itemDiscovery" *ngFor="let tree of trees"  >
      <ion-avatar slot="start">        
      </ion-avatar>
      <ion-label>
        <h2> {{ tree.name }} </h2>
        <h3> {{ tree.latitude }} {{ tree.longitude }} </h3>
      </ion-label>
    </ion-item>
  </ion-list> 
</ion-content>