<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<ion-header>
  <ion-toolbar class="toolbar_modal">
    <ion-title class="title_modal">Perfil</ion-title>
    <ion-button color="danger" size="large" fill="clear" slot="end" (click)="closeModalProfile()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="user_div">
      <div class="first_div">
        <ion-label class="username">{{ usuario.name }}</ion-label>
      </div>
    </div>

    <div class="content_div">
      <div class="test_details">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <div class="flex_div">
                <div class="round_div">
                  <img src="..\..\assets\fruit_icons\arvore-generica.png">
                </div>
                <div class="details">
                  <ion-label class="bold_lbl">{{ (arvoresUsuario$ | async)?.length }} espécies</ion-label>
                  <ion-label class="small_lbl">Suas descobertas</ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="list_div">
        <small>Nome de usuário</small>
        <span><strong>{{ usuario.userName }}</strong></span>
        <small>E-mail</small>
        <span><strong>{{ usuario.email }}</strong></span>
      </div>

      <div>
        <a class="sair-perfil" (click)="voltarLogin()">Sair</a>
      </div>
    </div>
  </div>
</ion-content>
