.main_content_div {
    width: 100%;

    ion-label {
        display: block;
    }

    .user_div {
        padding: 20px;
        width: 100%;
        height: 260px;
        background: linear-gradient(to right, #F28B50, #D93654);
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    .first_div {
        padding-top: 70px;
        
        .username {
            font-size: 18px;
            color: white;
            font-weight: 600;
        }
    }
    .user_back {
        height: 100px;
        width: 100px;
        border: 3px solid white;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    .content_div {
        background: white;
        width: 100%;
        border-top-left-radius: 25px;
        margin-top: -90px;
        padding: 20px;
        padding-top: 30px;

        .test_details {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
            padding: 10px;
            ion-grid {
                padding: 0;
                ion-col {
                    padding: 10px;
                }

                .flex_div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .round_div {
                        height: 40px;
                        width: 40px;
                        border-radius: 100%;
                        background-color: #D93654;
                        position: relative;

                        img {
                            width: 30px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .details {
                        padding-left: 5px;
                        color: black;

                        .bold_lbl {
                            font-weight: 600;
                            font-size: 14px;
                        }

                        .small_lbl {
                            font-size: 12px;
                        }
                    }

                }
            }
        }

        .list_div {
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
            margin-top: 20px;
            padding: 15px;

            ion-grid {
                padding: 0;

                ion-row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    ion-col {
                        padding: 10px;
                    
                        .info_div {
                            position: relative;
                            color: black;

                            .small_lbl {
                                font-size: 14px;
                            }
                        }

                        .info_details{
                            padding-left: 5px;
                            color: black;
                            justify-content: flex-end;

                            .bold_lbl {
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}