<ion-header [translucent]="true">
</ion-header>

<ion-content class="swiper-no-swiping" [fullscreen]="true">

  <div class="img-background">
    <div class="effect-filter"></div>
    <div class="img-logo"></div>
    <ion-segment class="ion-segment" (ionChange)="segmentChanged($event)" value="login">
        <ion-segment-button class="segment-buttom" value="login">
          <ion-label>Login</ion-label>
        </ion-segment-button>
        <ion-segment-button class="segment-buttom" value="register">
          <ion-label>Cadastro</ion-label>
        </ion-segment-button>
    </ion-segment>
    
    <ion-slides> <!-- pager="true" [options]="slideOpts" -->
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Login</span>

          <ion-item class="ion-margin-top" lines="nome">
            <ion-input id=email type="email" placeholder="E-mail"></ion-input>
          </ion-item>
          
          <ion-item class="ion-margin-top" lines="nome">
            <ion-input id=password type="password" placeholder="Senha"></ion-input>
          </ion-item>
          
          <ion-button class="ion-margin-top button" expand="block" routerLink="/map">Entrar</ion-button> 
          <!-- <ion-button id="button-create" routerLink="/sign-up">Criar Perfil</ion-button>  -->
        </div>        
      </ion-slide>      
        
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Cadastro</span>

          <ion-item class="ion-margin-top" lines="nome">
            <ion-input placeholder="Nome de usuário"></ion-input>
          </ion-item>
        
          <ion-item class="ion-margin-top" lines="nome">
            <ion-input placeholder="E-mail" type="email"></ion-input>
          </ion-item>
      
          <ion-item class="ion-margin-top" lines="nome">
            <ion-input placeholder="Senha" type="password"></ion-input>
          </ion-item>
      
          <ion-item class="ion-margin-top" lines="nome">
            <ion-input placeholder="Repetir senha" type="password"></ion-input>
          </ion-item>

          <ion-button class="ion-margin-top button" expand="block" routerLink="/sign-up">Criar Perfil</ion-button> 
        </div>
      </ion-slide>
    </ion-slides>
  
  </div>
  
  <!-- <img id="background-image" alt="background" src="assets/frutasvertical.png">
  <div id="filter"></div> 
  <img id="logo" alt="logo.png" src="assets/logo.png"> -->
  
 
</ion-content>



