<ion-header>
  <ion-toolbar class="toolbar_modal">
    <ion-title class="title_modal">Ranking</ion-title>
    <ion-button color="danger" size="small" fill="clear" slot="end" (click)="closeModalRanking()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="listRanking"> 
    <!-- lista do ngFor -->
    <ion-item class="itemRanking" *ngFor="let user of users"  >
      <ion-avatar slot="start">
        <img id="imageUser" src= {{user.photo}} >
      </ion-avatar>
      <ion-label>
        <h2> {{ user.name }} </h2>
        <h3> {{ user.trees }} </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>